<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">Time format</ion-item>
      <ion-radio ng-model="$storage.settings.hours.format" ng-value="12">12-hour</ion-radio>
      <ion-radio ng-model="$storage.settings.hours.format" ng-value="24">24-hour</ion-radio>

      <ion-item class="item-divider">Work hours</ion-item>
      <ion-item class="item-select">
        <div class="input-label">
          Start of day
        </div>
        <select ng-model="$storage.settings.hours.start" ng-options="(h | hour) for h in options.hours"></select>
      </ion-item>
      <ion-item class="item-select">
        <div class="input-label">
          End of day
        </div>
        <select ng-model="$storage.settings.hours.end" ng-options="(h | hour) for h in options.hours"></select>
      </ion-item>


      <ion-item class="item-divider">Work days</ion-item>

      <ion-toggle ng-repeat="day in options.days" ng-model="$storage.settings.days[day]">
        {{day | capitalize}}
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
